@model MercadosHernandez.Models.Producto

@{
    ViewData["Title"] = "Edit";
}


<h1 style="color:orange">Edición de la información de los diferentes productos!</h1>

<h4 style="color:orange">En el siguiente formulario puedes cambiar el nombre, unidad de medida y el estado del producto!</h4>
<hr />

<form asp-action="Edit">
    <div class="form-group row">
        <label asp-for="Nombre" class="col-sm-2 col-form-label" style="color:white">Nombre</label>
        <div class="col-sm-10">
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="UnidadMedida" class="col-sm-2 col-form-label" style="color:white">UnidadMedida</label>
        <div class="col-sm-10">
            <input asp-for="UnidadMedida" class="form-control" />
            <span asp-validation-for="UnidadMedida" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2" style="color:white">Estado del producto</div>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-primary btn-primary" asp-action="Index">Back to List</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
