@model MercadosHernandez.Models.Mercado

@{
    ViewData["Title"] = "Create";
}

<h1 style="color:orange">Creación de la información de los diferentes mercados!</h1>

<h4 style="color:orange">En el siguiente formulario puedes ingresar el nuevo propietario, estado y fecha de creacion!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Fecha_Creacion" class="control-label" style="color:white"></label>
                    <input asp-for="Fecha_Creacion" class="form-control" placeholder="Fecha_Creacion">
                    <span asp-validation-for="Fecha_Creacion" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="PropietarioID" class="control-label" style="color:white"></label>
                    <select asp-for="PropietarioID" class="form-control" asp-items="ViewBag.PropietarioID"></select>
                </div>
            </div>
            <div class="form-row">
                <label asp-for="Estado" class="control-label" style="color:white"></label>
                <input asp-for="Estado" class="form-control" placeholder="Estado">
                <span asp-validation-for="Estado" class="text-danger"></span>

            </div>
            <hr />
            <div class="form-row">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-primary btn-primary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
