@model MercadosHernandez.Models.UnidadResidencial

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color:orange">Edición de la información de las diferentes unidades residenciales!</h1>

<h4 style="color:orange">En el siguiente formulario puedes cambiar el nombre, direccion, telefono y el estado de pais!</h4>
<hr />

<form asp-action="Edit">
    <div class="form-group row">
        <label asp-for="Nombre" class="col-sm-2 col-form-label" style="color:white">Nombre</label>
        <div class="col-sm-10">
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Direccion" class="col-sm-2 col-form-label" style="color:white">Direccion</label>
        <div class="col-sm-10">
            <input asp-for="Direccion" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Telefono" class="col-sm-2 col-form-label" style="color:white">Telefono</label>
        <div class="col-sm-10">
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2" style="color:white">Estado de la unidad residencial</div>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-primary btn-primary" asp-action="Index">Back to List</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
